/*
* CSS main style - Chaos Jewellery
* @author Simone Folador - simone@alberon.co.uk - 2010
*
*/

html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Helvetica, Arial;
  height: 100%;  
}

img{
border: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

/*
* MAIN STRUCTURE
*/

#global-container{
  position: absolute;
  width: 950px;
  margin-left: -475px;
  left: 50%;
  height: 100%;
}

.wrapper{
  position: relative;
  clear: both;
  margin-top: 37px;
  zoom:1;
}

#top-menu-container {
  position: absolute;
  top: 0px;
  width: 950px;
  border-bottom: 1px solid pink;
  height:  26px; 
}

/* white space to separate menu items in the top menu*/
.menu-space{
  float: left;
  width: 61px;
  height: 26px;
}

#top-menu-container ul{
  list-style-type: none;
  white-space: nowrap;
}

#top-menu-container li {
  display: inline;
  line-height: 26px;
  color: #918f8f;
  font-size: 12px;
}

#top-menu-container li.menu-item-container a,
#top-menu-container li.menu-item-container a:visited
{
  
  color: #918f8f;

}

#top-menu-container li.selected a,
#top-menu-container li.selected a:visited,
#top-menu-container li.menu-item-container a:hover {
    color:#dc3481;
}

/* container of each menu item (an li tag)*/
.menu-item-container{
  height: 26px;
  float: left;

}


/* this element is used to space the first menu item on the left (in the top menu)*/
#angle-spacer-left{
  float: left;
  width: 37px;
  height: 26px;
}
/* this element is used to space the last menu item on the right (in the top menu)*/
#angle-spacer-right{
  position: absolute;
  right: 0px;
  width: 37px;
  height: 26px;
}

/* home page claim box*/
#claim-container{
  position: relative;
  height: 210px;
  width: 616px;
}

/* home page three boxes container*/
#boxes-container-home{
  float: right;
  height: 270px;
  width: 580px;
  /*margin-top: 14px;*/
  right: 0px;
}

/* left column container - home page (container claim box and three images box)*/
#left-container-home{
  position: absolute;
  top: 28px;
  width:616px;
}

/* contains the left content - all the pages (except home page)*/
#left-container-pages{
  /*position: absolute;*/
  padding-left: 37px;
  padding-top: 20px;
  float:left;
  /*top: 57px;*/
  width: 214px;
  /*left: 37px;*/
    zoom:1;

}


/* contains the right column - all pages*/
#right-column{
  /*position: absolute;*/
  float: right;
  margin-top: 13px;
  /*top: 50px;
  right: 0px;*/
  width: 310px;
    zoom:1;

}

#right-column_details{
  float: right;
  width: 310px;
  
}

#right-column_details .right-column-content{
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 0px;
  width: 270px;
}


.right-column-content{
  margin-top: 27px;
  margin-left: 5px;
  margin-right: 37px;
}

.right-column-content .text{
  font-size: 12px;
  color: #808285;
}



/* footer box home page*/
#footer-home{
  width: 580px;
  height: 38px;
  position: absolute;
  top: 522px;
  left: 37px;
}

/* contains certified and facebook images - home page*/
#footer-home .img-container{
height: 38px;
float: left;
line-height: 38px;
}

/* contains text information in the footer - home page*/
.info-footer-home{
  float: right;
  width: 210px;
  height: 38px;
}

.info-footer-page{
  width: 214px;
}

/* logo box home page*/
#logo-container-home{
  position: relative;
  margin-top: 10px;
  width: 274px;
  height: 136px;
  display: block;
}

/* right image home page*/
#presentation-image {
  position: relative;
  left: 5px;
  width: 274px;
  height: 352px;
  display: block;
}

/* logo box - all pages*/
.logo-container-left{
  height: 86px;
  width: 214px;
  
}

/* page content container - all pages except home page */
.page-content{
  width: 350px;
  /*top: 80px;*/
  margin-top: 43px;
  /*position: absolute;*/
  float: left;
  padding-left: 10px;
  /*left: 274px;*/
}

.page-content_details{
  width: 350px;
  margin-left: 20px;
float: left;
  
  display: block;
  
}


/* container used in the Inner_Page_Extended template*/
.page-content-extended{
  width: 635px;
  /*top: 80px;*/
  margin-top:43px;
  /*position: absolute;*/
  float:left;
  /*left: 274px;*/
  font-size: 0.8em;
}

/* footer box - all pages except home page*/
.footer-left{
  position: absolute;
  bottom: 50px;
  height: 128px;
  width: 214px;
  margin-left: 37px;
    zoom:1;

}

/* dummy box to push the footer down*/
.footer-spacer-left{
  height:200px;
  position:relative;
  clear:both;
  }

/* menu container - all pages except home page*/
.left-menu-container{
  width: 214px;
float: left;  
  margin-top: 30px;
  
}

/* box container (for each of the three images and text) - home page */
.box-container{
  float: right;
  width: 182px;
  height: 270px;
  margin-left: 17px;
}

/* "square" image container - home page*/
.square-home{
  float: left;
  width: 180px;
  height: 166px;
}

/* box for the image description (each one of the three images) - home page*/
.box-description-container{
  height: 94px;
  float: left;
  width: 180px;
  margin-top: 10px;
}

/* used for the first element on the three images - home page*/
.on-the-left,
.info-footer-element-home  .on-the-left
{
  margin-left: 0px;
}

/* just copies the main ul characteristics*/
.left-menu-container ul{
  list-style-type: none;
  white-space: nowrap;
}

/* uses the same class (menu-item-container) but overrides properties to use it on the left menu*/
.left-menu-container li.menu-item-container {
  width: 100%;
  line-height: 26px;
  color: #918f8f;
  font-size: 12px;
}

/* TEXT style*/

/* used in the description box of the three images on the home page*/
h1.box-title{
  padding: 0px;
margin-top: 0px;
margin-bottom: 10px;
color: #23408f;
font-size: 1em;
font-weight: normal;
display: block;
}

/* global text */
.text{
  font-size: 0.7em;
  color: #939598;
}

/* used to space lines - use as a second class */
.text-more-vspace {
  line-height: 1.5em;
  margin-bottom:10px;
}

/* "read more..." style - home page (and other pages?)*/
.more{
  color: #23408f;
  font-size: 1em;
  margin-top: 3px;
  display: block;
}

/* class text inside the footer - home page*/
.info-footer-element-home .text {
  font-size: 0.7em;
  float: right;
  margin-left: 30px;
  line-height: 38px;
  color: pink;
}

.info-footer-element-page .text{
  font-size: 0.7em;
  color: pink;
}

.info-footer-element-page  a, 
.info-footer-element-page  a:visited{
    color: pink;
    
}

.info-footer-element-page .text a:hover{
    color:#dc3682;
}

.info-footer-element-page {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu-item-container a:hover,a:active {
  color:#dc3481;
}

/* Images styles */

/* property for the img tag inside the three "squares" - home page*/
.square-home img {
  border: 1px solid #918f8f;
  width: 182px;
  height: 164px;
}

/* hack for vertical align images - used in the footer (home page)*/
*>.img-container {
  font-size: 0px;
}

/* used only to position images inside the footer - home page*/
#footer-home  .img-container  img {
  border: 0px;
  vertical-align: middle;
  margin-right: 35px;
}

/* image container for the footer element on the left (inside pages)*/
.footer-left .img-container{
  position: absolute;
  bottom: 0px;
  
}

.footer-left .img-container img {
  margin-top: 10px;
}

/* shop properties*/

/*products*/

h1.small{
  padding: 0px;
  margin-top: 7px;
  margin-bottom: 2px;
  color: #23408f;
  font-size: 0.9em;
  font-weight: normal;
  display: block;
}

.features-line{
  border-top:1px solid #23408f;
  padding-top:5px;
}

.last{
  border-bottom:1px solid #23408f;
}


/* big product image container */
.product-image-container{
  float: left;
  width:350px;
  height: 262px;
  overflow: hidden;
  border: 1px solid #939598;  
}
/* big product image - fixed width - unknown height */
.product-image-container img{
width: 350px;
height: 262px;
}

/* container of other images of the product */
.product-other-images{
  float: left;
  width: 350px;
  margin-top: 8px;
}

/* images in the product-other-images container */
.product-other-images img {
  float: left;
  margin-right: 1px; /* 3px */
  height: 50px;
  width: 67px;
  cursor: pointer;
  border: 1px solid #939598;
}

/* container of similar products*/
.similar-products-container{
  float: left;
  width: 350px;
}


/* overriding the property of .product-listitem-container */
.similar-products-container .product-listitem-container {
  height: 72px;
  width: 67px;
  float: left;
  margin-right: 2px;
}

/* overriding the property of .product-listthumb and img */
.similar-products-container .product-listthumb,
.similar-products-container .product-listthumb img {
  height: 50px;
  width: 67px;
  
}

.similar-products-container .product-listthumb img {
  border: 1px solid #939598;
}

.product-listthumb img {
  border: 1px solid #939598;
}

/* overriding the property of .product-caption */
.similar-products-container .product-caption {
  height: 17px;
  width: 67px;
  float: left;
  line-height: 17px;
}

.similar-products-container .box-title{
  padding: 0px;
margin-top: 0px;
margin-bottom: 5px;
font-size: 0.8em;
  color: #939598;

font-weight: normal;
display: block;
} 

.product-caption .text a,
.product-caption .text a:visited
{
  /*color: #918f8f;*/
  color: #dc3481;
}



/* list of products - photos + caption container*/
.product-listitem-container{
  
  width: 114px;
  float: left;
  margin: 1px;
  margin-bottom: 15px;
}

/* thumb container */
.product-listthumb{
  width: 114px;
  height: 85px;
}
.product-listthumb a{

}


/* thumb container img */
.product-listthumb img{
  width: 111px;
  height: 83px;
}



/* caption container */
.product-caption{
    float: left;
}


.product-bigger-thumb-container{
  position: absolute;
  width: 227px;
  height: 169px;
  border: 1px solid black;
  z-index: 2;
  background-color:#ffffff;
  overflow: hidden;
  
}

.product-bigger-thumb-container img{
  
  /*width: 226px;*/
  /*height: 210px;*/
  
}


/* size quantity and add to order container*/
.add-container{
  color: #918f8f;
  font-size: 0.7em;
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
}

.quantity-size-container{
  float: left;
}

.order-where-container{
  float: right;
  width: 80px;
}

.size{
  height: 30px;
  display: inline;
  }
  


.quantity{
  display: inline;
  height: 30px;
  line-height: 30px;
}


a.button-order,
a.button-where{
  /*background-color: #949599;*/
  background-color:#23408f;
  color: #ffffff;
  font-size: 1.1em;
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;
  width: 73px;
  line-height: 30px;
  float: right;
  text-align: center;
}

a.button-order-gray
{
  background-color: #949599;
  color: #ffffff;
  font-size: 1.1em;
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;
  width: 73px;
  line-height: 30px;
  float: right;
  text-align: center;
}



a.button-where{
  margin-top: 30px;
}



a.button-order:hover,
a.button-where:hover,
.right-block-container a.button-order:hover,
.right-block-container a.button-order-gray:hover
 {
  color: #ffffff;
  background-color: #dc3682;
}





.message{
  padding: 4px;
  height: 30px;
  line-height: 30px;
}

/* menu template override */
.menuactive, #top-menu-container .menuactive {
 color: #dc3481;  
}

/* menu styles override*/
.currentpage,
.currentpage h3{
  color: #dc3481;
  width: 100%;
  line-height: 26px;
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}


/* menu style override*/
.left-menu-container ul li{
  width: 100%;
  line-height: 26px;
  color: #918f8f;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  float: left;
  height: 26px;
}

.left-menu-container  li.menu-item-containercurrentpage a,
.left-menu-container li.menu-item-containercurrentpage,
.left-menu-container  li.menu-item-containercurrentpage a:visited,
.left-menu-container  li.menu-item-containercurrentpage a:hover
{
  color: #dc3481;
}


.left-menu-container ul li a:visited,
.left-menu-container ul li a{
  color: #918f8f;
}

/* menu style override*/
.left-menu-container ul li a:hover{
  color: #dc3481;
  
}
/* TABLES*/ /* overriding shop defaults*/

.page-content-extended .block{
  margin-top: 30px;
    }
.page-content-extended .block_2{
  margin-bottom: 30px;
    }

.page-content-extended .headerbg {
  border: 1px solid #dee0e7;

}

.more-vspace{
  padding-top: 20px;
}

.page-content-extended .middlebg td{
  background-color: #dee0e7;
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.page-content-extended .usualbg td{
  
  height: 40px;
  padding-left: 3px;
  padding-right: 10px;
}

.page-content-extended h1.box-title{
  font-size: 1.6em;
  padding-top: 0;
  margin-top: 0;
  
}

.page-content-extended table.buttons{
  margin-top: 40px;
}

table.buttons .button-order{
  margin-left: 30px;
  line-height: 30px;
  font-size: 1em;
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
  width: 120px;
  text-align: center;
}

/* table used in chage password*/
.bottom-space {
  margin-bottom: 20px;
}

table.buttons a.button-order:hover{
  background-color: #dc3682;
}

.submit input.stays-blue{
  background-color: #23408f;
  margin-right: 3px;
}

.clear{
  clear: both;
}



.display-terms {
  display: none;
  position: absolute;
  width: 400px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -200px;
  z-index: 10000;
  background-color: #ffffff;
  border: 1px solid black;
}

/* shop pages - login etc..*/

.box-title-smaller,
a.box-title-smaller {
  padding: 0px;
margin-top: 0px;
margin-bottom: 10px;
color: #23408f;
font-size: 0.9em;
font-weight: bold;
display: block;

}

.blocks-container{
  border: 1px solid #dee0e7;
  width: 500px;
  margin-bottom: 40px;
}

.no-border {
  border: 0px;
}

.blocks-container .text {
  font-size: 1em;
}

.blocks-container table.block {
  margin-top: 0px;
}

.left-block-container{
  float: left;
width: 200px;
padding: 10px;
}

.left-block-container a{
color: #000000;
}



.right-block-container{
  float: right;
width: 250px;
padding: 10px;
  border-left: 1px solid #dee0e7;
}

.label-login{
  display:inline-block;
width: 60px;
padding-right: 10px;
}

.blocks-container a:hover{
  color: #dc3682;
}


.more-padding{
  padding: 10px;
}

.related-prod-abs{
    /*position: absolute;
  left: 20px;
  top: 370px;*/
  float:left;
  width: 350px;
  margin-top: 20px;
  margin-left: 20px;
}

.wrapper-details{
  /*top: 80px;
  position: absolute;
  left: 250px;*/
  float:left;
  margin-top: 43px;
  width: 680px;
}



a.trade-terms,
a.trade-terms:visited {
  color: #23408f;
  text-decoration: underline;
}
a.trade-terms:hover 
{
  color: #dc3682;
}


input.submit{
  font-family:Helvetica, Arial, sans-serif;
  background-color: #949599;
  
  
  border: none;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 4px;
  padding-left: 4px;
  margin: 0;
  cursor: pointer;
  font-size: 1.1em;
}

input.stays-pink {
  background-color: #dc3682;
}


center{
  visibility: hidden;
  display: none;
}

.homepage-instructions
{
  clear: both;
  color: #23408f;
  font-size: 14px;
  padding-top: 15px;
  text-align: center;
}

.category-instructions
{
  clear: both;
  color: #dc3682;
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
}

.category-instructions a:hover
{
  color: #23408f;
}


.copyright_claim{
text-align:right;
padding: 30px 0px 0px 0px;
bottom: 55px;
left: 250px;
position: absolute;
width: 600px;
}

.copyright_claim .text {
	
	color:  #e0e0e0;
}

.view-all {
	font-size: 12px;
	color: #dc3682;
	text-align:right;
	margin-top: -2px;
	
	
}

.view-all {
	font-size: 12px;
	color: #dc3682;
	text-align:right;
	margin-top: -2px;
	margin-right: -2px;
	
}

 
.view-all a,
.view-all a:visited {
	color: #dc3682;
	font-size: 12px;
}

.view-all a:hover{
	color: #23408f;
}



